.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e6e1e1;
    padding: 10px 0;
  }
  
  .container {
    text-align: center;
  }
  
  .text {
    font-size: 14px;
    color: #888;
  }
  