.header-toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-button {
    margin-right: 8px;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
  }
  